@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Quicksand', sans-serif;
}
.gradient-background {
  background: linear-gradient(to bottom, #FFFFFF 10%, #C1EDE0 100%);
}

.leaflet-container {
  width: 100%;
  height: 100vh; /* Full height */
}
.leaflet-control-zoom {
  display: none !important;
}

