

@import "tailwindcss";



@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Quicksand', sans-serif;
  width:100vw;
}
.gradient-background {
  background: linear-gradient(to bottom, #FFFFFF 10%, #C1EDE0 100%);
}



